.container {
  text-align: center;
  margin: 20px 0;
  border: 2px solid black;
  padding: 20px 0;
  background-color: rgb(238, 238, 238);
}

.btn.btn-primary {
  margin-left: 20px;
}

.btn.btn-primary.custom-hover:hover {
  background-color: white !important;
  color: #007bff !important;
  border: 1px solid #007bff !important;
}

.table.table-striped {
  border: 1.5px solid black;
}